/* centers all child content */
.mainContainer {
    border-radius: 12px;
    overflow: hidden; /* clips child containers so that rounding can happen */
    font-size: 1.25em;
    display: flex;
    justify-items: stretch;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    background: rgba(0, 0, 0, 0.727);  /* semi-transparent black */
    color: rgb(198, 198, 198);    /* Text color */
}

br {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 1vh; /* change this to whatever height you want it */
}

/* centers text box */
.text-box {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

/* centers Millenium title */
.text-box h1 {
    text-align: center;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: .25rem;
    font-size: 4vh;
}

/* creates tabbing */
.text-box p {
    text-align: left;
    margin-top: 0; /* get rid of space between each section and its paragraph */
    line-height: 1.1;
    margin-bottom: 0;
    font-size: 2.5vh;
}

/* Background Image */
body {
    background-image: url('../graphics/japan.gif');
    background-size: cover;       /* Scale image to cover entire window */
    background-repeat: no-repeat; /* Prevent tiling */
    background-position: center;  /* Center the image */
    margin: 0;                    /* Remove default body margin */
    height: 100vh;                /* Ensure body fills viewport height */
}