/* Background Image */
body {
    background-image: url('../graphics/japan.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    height: 100vh;
}

.mainContainer {
    border-radius: 12px;
    overflow: hidden;
    font-size: 1.25em;
    display: flex;
    justify-items: stretch;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    background: rgba(0, 0, 0, 0.727);
    color: rgb(198, 198, 198);
}

.text-box {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    width: 100%;
}

.text-box h1 {
    text-align: center;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 2rem;
}

.text-box ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 2rem;
}

.text-box ul li {
    border: 2px solid rgb(123, 8, 31);
    margin-bottom: 0.5rem;
}

.text-box ul li:hover {
    background-color: rgb(123, 8, 31);
}

.text-box ul li a {
    display: block;
    margin: 10px;
    text-decoration: none;
    color: rgb(198, 198, 198);
}